<%- include ("./partials/header.ejs") %>

    <!--    New Tasks   -->
    <div class="container">
        <div class="row">
            <div class="input-field col s12 m8 l8">
                <form method="POST" action="/tasks">
                <label for="task">New Task</label>
                <input type="text" name="taskText" id="taskInput">
            
            </div>
            <button class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">add</i></button>
        </form>
        </div>
        <div class="row">

            <!--    Incomplete Tasks -->

            <div class="col s12 m8 l8">
                <h2>Incomplete Tasks</h2>
                <div class="card">

                    <ul class="collection incomplete">
                        <% if(currentUser) { %>
                            <% const tasks = currentUser.tasks%>
                            <% tasks.forEach((task)=>{ %>
                            <%  if(task.completionStatus === false){  %>
                                <li>
                                <p class= "incomplete task" data-id="<%= task.id %>">
                                    <%= task.title %>
                                </p> 
                                <div class="icons">
                                    <i class = "delete material-icons small">clear</i> 
                                    <i class = "incomplete checkbox material-icons small">check_box_outline_blank</i>
                                </div>
                            </li>
                         <% }%> 
                       <% }) %>
                    <% } %>
                    </ul>

                </div>
            </div>
            <div class="row">
                <div class="col s12 m8 l8">
                    <h2>Completed Tasks</h2>
                    <div class="card">
    
                        <ul class="collection complete">
                            <% if(currentUser){ %>
                                <% let tasks = currentUser.tasks %>
                                <% tasks.forEach((task) => { %>
                                  <%  if(task.completionStatus === true && task.author.id.equals(currentUser._id)) { %>
                                    <li>
                                    <p class= "task" data-id = "<%= task._id%>">
                                        <%= task.title %></p> 
                                    <div class = "icons">
                                    <i class = "delete material-icons small">clear</i> 
                                    <i class = "complete checkbox material-icons small">check_box</i>
                                </div>
                                </li>
                                   <% } %>
                               <% }) %>
                            <% }  %>
                             
                        </ul>
    
                    </div>
                </div>
        </div>
      
    </div>


 
     <script src="/app/app.js"></script>
    <%- include ("./partials/footer.ejs") %>  
   